#title {
    text-align: center;
    font-size: 80;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 6px;
    white-space: nowrap;
}

.pos {
    width: 825px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#tabs {
    font-size: 12;
    font-family: sans-serif;
    font-weight: 600;
}

.tab {
    font-size: 12;
    font-family: sans-serif;
    height: 100px;
}

#tabs li {
    font-size: 12;
    font-weight: 700;
}

.slider {
    font-size: 4;
}

#kinome {
    width: 825px;
    height: 975px;
    background-image: url(../img/kinome.svg);
    background-size: 100% 100%;
}

.kinase {
    stroke: black;
    stroke-width: .4;
    fill: white;
    fill-opacity: .5;
}

.data#pts {
    stroke: white;
    stroke-width: 1;
    stroke-opacity: .5;
}

.data#label {
    font-family: sans-serif;
    fill: black;
}

.label {
    cursor: move;
}

#red, #green, #blue {
    float: left;
    clear: left;
    width: 200px;
    margin: 5px;
}

.swatch {
    width: 40px;
    height: 40px;
    background-image: none;
    padding: 5px;
}

#footer {
    font-family: sans-serif;
    font-size: 16;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }
